body {
    background-image: url("https://raw.githubusercontent.com/sdrosi/Hangman-Game/master/assets/images/christopher-jolly-147391.jpg");
    max-width: 100%;
    max-height: 100%;
}

h1 {
    text-align: center;
}


